.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1520px;
  margin: auto;
  background-image: url("https://res.cloudinary.com/df5wssoz1/image/upload/v1695954409/1000_F_506790264_N8BVZ9NLLRrTAShK6PADQmo0SZ4LUuJJ_zwtepg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  @media screen and (max-width: 992px) {
    flex-direction: row;
  }
}

.login-form {
  width: 30%;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 30px 40px;
  @media screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heading {
  width: 150px;
  margin-bottom: 15px;
  @media screen and (min-width: 992px) {
    width: 120px;
    padding: 0px 125px;
  }
}

.input-icons {
  position: relative;
  width: 100%;
  height: 20px;
  margin: 5px 20px 33px 0px;
}

.inputs {
  background-color: transparent;
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 40px;
  color: #ffffff;
  padding: 5px 10px;
}

.inputs::placeholder {
  color: #e2e0e0d7;
}

.icons {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-25%);
}

.labels {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 400;
  color: #ffffff;
  @media screen and (max-width: 992px) {
    font-size: 16px;
  }
}

.login-btn {
  width: 100%;
  border: none;
  height: 25px;
  margin-left: 8px;
  border-radius: 15px;
  background-color: #0b0b73c2;
  color: #09f5ab;
  font-size: 19px;
  font-weight: 500;
  font-family: "Roboto";
  cursor: pointer;
  outline: none;
}

.error-msg {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
  color: #fa2105;
}
